*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.75;
}

/* styling for the general product section */
.productdetails{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* styling for the image section */
.img{
    text-align: center;
    padding: 0 1rem;
}

/* styling for the description section */
.details{
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: justify;
    padding: 0 1rem;
}

/* styling for the price section */
.price{
    font-size: 1.2rem;
    padding: 0 1rem;
}

span{
    font-weight: bolder;
    font-size: 1.3rem;
}

/* styling for the images */
img{
    width: 100%;
    height: 10%;
}

/* styling for the food names */
h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

/* gave each sections some margin */
.space{
    margin-top: 2rem;
    flex-basis: 30%;
    
}

/* styling for the amount*/
/* Responsiveness start. 
Adjusted some properties to fit into smaller screens, the phone and tablet views.
*/

@media screen and (max-width: 480px) {

    /* styling for phone view */


    *{
        box-sizing: border-box;
    }

    .heading{
        display: none;
    }
    .mycuisine{
        flex-direction: column;
        height: 90%;
    }

    .img{
        margin-left: 0;
        flex-basis: 16rem;
    }

    .details{
        text-align: justify;
        padding: 0 1rem;
        font-size: 1rem;
        flex-basis: 6rem;
        margin: 0;
    }

    .price{
        flex-basis: 2rem;
        font-size: 1.2rem;
        margin-right: 3rem;
        text-align: end;
    }

    .space{
        margin-bottom: 1rem;
    }

    img{
        width: 20rem;
        height: 15rem;
    }

    h2{
        font-size: 1.4rem;
        margin: 0;
        text-align: center;
    }

}

@media screen and (min-width: 481px) and (max-width: 780px) {

    /* styling for tablet/pad view*/

    *{
        box-sizing: border-box;
    }

    .heading{
        display: none;
    }
    .mycuisine{
        flex-direction: column;
        height: 90%;
    }

    .img{
        margin-left: 0;
        flex-basis: 20rem;
    }

    .details{
        text-align: justify;
        padding: 0 1rem;
        font-size: 1.2rem;
        flex-basis: 6rem;
        margin: 0;
    }

    .price{
        flex-basis: 2rem;
        font-size: 1.5rem;
        margin-right: 5rem;
        text-align: end;
    }

    img{
        width: 27rem;
        height: 20rem;
    }

    h2{
        font-size: 1.7rem;
        margin: 0;
        text-align: center;
    }
}
